<configuration>

<!--Created logs in the console-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

<!--Created rolling logs with 3 day maxHistory-->
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/rollingFile.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- this sets the pattern for how to create the new log files -->
            <fileNamePattern>logs/rollingLogFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- this determines how many days worth of logs should be saved -->
            <maxHistory>3</maxHistory>
            <!-- this determines the max size of the log file: can trigger a rollover before the max days -->
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

<!--Created log folder and static log file-->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file> logs/staticLogs.log</file>
                <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="ROLLING"/>
    </root>

</configuration>